html {
    font-size: 14px;
    scroll-behavior: auto;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



body {
    margin-bottom: 60px;
}

 

@media (max-width: 576px) {
    h4 {
        font-size: 1.1rem;
    }

    table td, table th {
        font-size: 0.85rem;
        white-space: nowrap;
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
    }
}
/* Tarayýcý default smooth'u kapat (özel JS kullanacaðýz) */


/* Hedef bölümler header altýnda kalmasýn */
#why {
    scroll-margin-top: 80px;
}
/* navbar yüksekliðin kadar tut */

/* Yukarý butonu */
#backToTop {
    position: fixed;
    right: 18px;
    bottom: 18px;
    z-index: 1050;
    display: none;
}
